#logo {
align-items: center;}

body {
    margin-left: 20%;
    margin-right: 20%;
}

#subtitle {
width: 800px;
display: flex;
justify-content: center;}


#photo {
    text-align: center;
    color: gray;
}

#subtitle {
    border-top: 1px;
    border-color: antiquewhite;
    background-color: rgb(255, 230, 189);;
}

.featured {
    border-style: inset;
    background-color: rgb(255, 230, 189);
    padding: 0px;
}

#feature {
    color: red;
}